<div id = "post">
	<div class="title">
		<h1><%= @post.title %><h1>
	</div>

	<div class="content">
		<p><%= @post.content %></p>
	</div>
</div>

<div id = "new_comment">

	<% if user_signed_in? %>
		<%= render 'comments/form', :post => @post %>
	<% else %>
		<p>You must sign-in before posting a comment</p>
		<%= auth_providers(:twitter, :github) %>
	<% end %>
</div>

<div class="link">
	<%= link_to "Return to posts list", root_path, :id => 'return' %>
</div>

<div id="comments">
	<% @post.comments.each do |comment| %>
		<div>
			<h1> <%= comment.author %> </h1>
		</div>
		<div>
			<p> <%= comment.content %> </p>
		</div>
	<% end %>
</div>